# Auto detect text files and perform LF normalization
* text=auto
D:/Bachelor/wt-4.2.0/build-SKOGKK-Desktop_Qt_5_13_0_MSVC2017_64bit-Debug/KKOGSK/KKOGSK_autogen/EWIEGA46WW/qrc_MyResource.cpp filter=lfs diff=lfs merge=lfs -text
